.Weather {
  color: #878787;
  font-family: "Inter Tight", sans-serif;
  border: 1px solid rgb(211, 167, 167);
  padding: 16px;
  border-radius: 8px;
  background: linear-gradient(
    0deg,
    rgb(255, 231, 247) 0%,
    rgb(251, 236, 228) 100%
  );
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  color: #3d3d3d;
  font-size: 24px;
  font-weight: 400;
  height: 28px;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather canvas {
  margin-right: 10px;
  margin-top: 5px;
  display: inline-block;
}
.Weather .temperature {
  font-weight: bold;
  color: #272727;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.Weather .unit {
  color: #3d3d3d;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -32px;
}

.Weather .btn {
  background: linear-gradient(
    0deg,
    rgba(195, 34, 143, 1) 0%,
    rgba(253, 125, 45, 1) 100%
  );
  border: solid 1px red;
  color: white;
  transition: 0.2s;
}

.Weather .btn:hover {
  cursor: pointer;
  color: black;
  background: linear-gradient(
    0deg,
    rgb(251, 147, 218) 0%,
    rgb(251, 182, 140) 100%
  );
  border: solid 1px red;
}
