.Weather {
  color: #e9ebeb;
  font-family: "Inter Tight", sans-serif;
  border: 1px solid rgb(159, 167, 144);
  padding: 16px;
  border-radius: 8px;
  background-color: rgba(69, 69, 164, 0.5);
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 500;
  height: 30px;
  line-height: 30px;
  margin: 10px;
}

.Weather ul {
  margin: 10px;
  padding: 0;
}

.Weather li {
  font-size: 19px;
  font-weight: 300;
  line-height: 1.5;
  list-style: none;
}
.Weather canvas {
  margin: 10px;
  display: inline-block;
}
.Weather .temperature {
  font-weight: bold;
  color: #e9ebeb;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.Weather .unit {
  color: #e9ebeb;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -32px;
}

.Weather .btn {
  background: linear-gradient(
    0deg,
    rgba(50, 50, 115, 1) 0%,
    rgb(159, 167, 144) 100%
  );
  border: solid 1px #5252a4;
  color: white;
  transition: 0.2s;
  font-size: 18px;
}

.Weather .btn:hover {
  cursor: pointer;
  color: #3c3c90;
  font-weight: bold;
  background: linear-gradient(
    0deg,
    rgb(50, 50, 115) 0%,
    rgb(207, 213, 195, 1) 50%
  );
  border: solid 1px #3c3c90;
}

.WeatherInfo .date {
  font-size: 19px;
  font-style: italic;
  color: #c1c1fc;
}
